<div class="bot">
  <form id="my-form-element" class="bot-form">

    <fieldset>
      <label for="name">What's your name?</label>
      <input required cf-questions="Hi there! What's your name? 😊" type="text" class="form-control" name="name" id="name">
    </fieldset>
    <fieldset>
      <label for="opinion">Will conversational interfaces be everywhere?</label>
      <select cf-questions="Good morning! What project will you be working on today?" name="opinion" id="opinion" class="form-control">
        <option *ngFor="let oneCard of cards">
          <p>{{oneCard.name}}</p>
        </option>
      </select>
    </fieldset>
    <fieldset>
      <label for="opinion">Will conversational interfaces be everywhere?</label>
      <select cf-questions="Good morning! {previous-answer} What project will you be working on today?" name="opinion" id="opinion"
        class="form-control">
        <option *ngFor="let oneData of formDataCard">
          <p>{{oneData}}</p>
        </option>
      </select>
    </fieldset>

  </form>


</div>