<div class="bot">
  <form id="my-form-element" class="bot-form">
    <fieldset>
      <label for="dayStart">Ready to start the day?</label>
      <select cf-questions="Hey there! Are you ready to start your day??" name="start" id="start" class="form-control">
        <option>
          <p>Yes</p>
        </option>
        <option>
          <p>Hell Yeah!</p>
        </option>
        <option>
          <p>Definitely</p>
        </option>
        <option>
          <p>Sure</p>
        </option>
      </select>
    </fieldset>

  </form>


</div>