h2,
p,
button {
  color: rgb(70, 70, 70);
}

h2 {
  font-size: 2.8em;
  color: #666666;
}

.header-container {
  text-align: center;
  height: 40vh;
  padding-top: 5vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10vh;
  /* background-color: rgba(212, 212, 212, 0.2); */
}

.header-container img {
  width: 5vw;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-search {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#btn-sidenav-demo {
  position: fixed;
  height: 12vh;
  top: 2vh;
  left: 0;
  background-color: transparent;
  box-shadow: none !important;
  z-index: 10000;
}

#btn-sidenav-demo img {
  width: 5.6vw;
}
mz-sidenav-header div {
  height: 13vh;
}

.m-valign-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.m-valign-wrapper mz-input-container {
  width: 100%;
}

.boards-wrapper {
  width: 60vw;
}

.boards-wrapper ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 170px;
}

.boards-wrapper li {
  width: 30%;
  margin-bottom: 30px;
}

li img {
  width: 100%;
}

li p {
  font-size: 1.1em;
  font-weight: bold;
}

li button {
  background: none;
  border: 1px solid #96c288;
  border-radius: 2px;
  color: #96c288;
}

li button:hover {
  background: #96c288;
  /* border: 1px solid rgb(100, 100, 100); */
  color: white;
}
