<h2>Projects Page</h2>

<div>

  <div class="section">

    <h5 class="light">Project Search</h5>

    <div class="row m-valign-wrapper">

      <mz-input-container class="col s12 m6">
        <input mz-input [label]="'Project Name'" [autocomplete]="autocomplete" id="autocomplete-input" type="text">
      </mz-input-container>

    </div>
  </div>

  <h3>BELOW THE PROJECTS LIST</h3>
  <ul>
    <li *ngFor="let oneProject of (projects | isContributor: currentUserId )">
      <h3>{{oneProject.name}}</h3>
      <img [src]="oneProject?.imageUrl">
      <br>
      <!-- We need to populate the info contained in the userIds to be able to retrieve their name and image -->
      <!-- <ul>
        <li *ngFor="let onePerson of oneProject.contributors">
          <h4>{{onePerson.name}}</h4>
          <img [src]="onePerson.image">
        </li>
      </ul> -->
      <button (click)="goToProject( oneProject._id )">Enter the project</button>
    </li>
  </ul>
</div>
<hr>

<div>
  <h3>BELOW THE FORM TO CREATE A NEW PROJECT</h3>
  <form (ngSubmit)="createProject()">

    <label>Name:</label>
    <br>
    <input type="text" name="name" [(ngModel)]="newProjectInfo.name">
    <br>
    <br>

    <label>Image URL:</label>
    <br>
    <input type="text" name="imageUrl" [(ngModel)]="newProjectInfo.imageUrl">
    <br>
    <br>

    <label>GitHub URL</label>
    <br>
    <input type="text" name="githubRepoUrl" [(ngModel)]="newProjectInfo.githubRepoUrl">
    <br>
    <br>

    <label>Trello Board ID</label>
    <br>
    <input type="text" name="trelloBoardId" [(ngModel)]="newProjectInfo.trelloBoardId">
    <br>
    <br>

    <label>Slack ID</label>
    <br>
    <input type="text" name="slackWorkSpaceDirectory" [(ngModel)]="newProjectInfo.slackWorkSpaceDirectory">
    <br>
    <br>

    <button>Create</button>

  </form>
</div>