
<div class="login-container">
<!-- <form (ngSubmit)="loginSubmit()">
  <label>
    Username:
    <input type="text" [(ngModel)]="formCreds.username" placeholder="blah" name="username">
  </label>
  <br>
  <label>
    Password:
    <input type="password" [(ngModel)]="formCreds.password" placeholder="****" name="password">
  </label>
  <br>

  <button mz-button>Log In</button>
  <a mz-button routerLink="/signup" align="right" flat="true">Sign Up</a>
</form> -->

<a href="http://localhost:3000/api/github/login">Log In with GitHub</a>
</div>