<h2>Welcome to "{{project?.name}}"</h2>

<img [src]="project?.imageUrl">

<br>

<h5>Want to add a contributor?</h5>
<form (ngSubmit)="searchUser()" >

  <label>Enter user name:</label>
  <input type="text" name="username" [(ngModel)]="username">

  <button>Search</button>

</form>

<div *ngIf="foundUser">
  {{foundUser.username}}
  <button (click)="addUser()">Add</button>
</div>

<h3>CURRENTS TASKS AT HAND</h3>
<!-- Make it a separate component? -->
<ul>
  <!-- We probably want to retrieve the current cards from the user directly, instead of going through the project? -->
  <li>

  </li>
</ul>

<hr>

<h3>STATS ABOUT THE PROJECT</h3>
<!-- Make it a separate component? -->
