footer {
  /* position: fixed; */
  bottom: 0;
  width: 100vw;
  text-align: center;
  height: 10vh;
}

footer a{
  color: #96C288;

}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

/* header img {
  height: 80%;
} */

.nav-wrapper img {
  top: 1.3vh;
  position: relative;
  height: 90%;
}
