<h2>Sign Up</h2>

<div class="login-container">
<!-- <form (ngSubmit)="signupSubmit()">
  <label>
    Username:
    <input type="text" [(ngModel)]="formCreds.username" placeholder="blah" name="username">
  </label>
  <br>
  <label>
    Password:
    <input type="password" [(ngModel)]="formCreds.password" placeholder="****" name="password">
  </label>
  <br>

  <button mz-button>Submit</button>
  <a mz-button routerLink="/login" align="right" flat="true">Log In</a>
</form> -->

<a [href]="githubUrl">Sign Up with GitHub</a>
<!-- `${environment.backUrl}/api/signup` -->
</div>