/* Dark green: #00b421 */
/* Light green: #7ecd88*/
.home-body {
  height: 92vh;
  background-color: rgba(212, 212, 212, 0.2);
  /* margin: 2vh 1vw; */
}

/* .login-container {
  margin: 0 auto;
  max-width: 40vw;
  text-align: center;
}
.login-container img {
  margin-top: 5vh;
  max-width: 5vw;
}
.login-container h3 {
  font-size: 2vh;
  color: rgb(212, 212, 212);
  margin-top: 2vh;
} */

.login-container {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 60px;
  background: red;
}

.login-container div {
  border: 2px solid rgb(51, 51, 51);
  margin: 0;
}

.login-container div:first-child {
  width: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.login-container div:last-child {
  width: 80%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.brand-container {
  text-align: center;
  margin: auto;
}
.brand-container img {
  margin-top: 10vh;
  width: 45vh;
}
.brand-container h1 {
  margin-top: 2vh;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
  color: #2ea30a;
  font-weight: lighter;
}
