<!-- 
LANDING SCREEN
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
-->

<div class="home-body parallax-container">
    <a mz-button id="btn-sidenav-demo">
        <img [src]="testLogo" alt="">
    </a>
    <div class="parallax">
        <img class="bg-home" [src]="bgHome">
    </div>
    <div class="brand-container">
        <img [src]="devDayLogo">
        <h1 class="typed">Because every day is D-Day</h1>
    </div>

    <a [href]="githubUrl">
        <div class="github-login">
            <div>
                <img [src]="githubLogo">
            </div>
            <div>
                <p>Log In / Sign Up with GitHub!</p>
            </div>
        </div>
    </a>
</div>



<!-- 
ABOUT SECTION
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
-->

<div class="home-about" id="home-about">
    <ul>
        <li>
            <img  src="https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif">
            <h4>Chatbot</h4>
            <p>
                Start by letting our friendly bot help organize your day!<br>
                He knows what you're working on and what's left to do, and will set things up for you so you're ready to go!
            </p>
        </li>
        <li>
            <img src="./../../assets/images/trello-and-github.png">
            <h4>Synergy</h4>
            <p>
                Trello and GitHub, two of your main tools, brought together in one place!
            </p>
        </li>
        <li>
            <img [src]="focusIcon">
            <h4>Focus</h4>            
            <p>
                We deliver only the most relevant information!<br>
                We bring you feeds, cards and functionality specific to the tasks at hand every day, so you can focus one what's important!
            </p>
        </li>
    </ul>
</div>



<!-- 
HOW TO SECTION
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
-->

<div class="how-to" id="how-to">

    <ul>
        <li>1. Login with your GitHub and Trello accounts to have both feeds and boards</li>
        <li>2. Setup your Trello board with "Backlog", "Doing" and "done" lists</li>
        <li>3. You're ready to go!</li>
    </ul>

</div>



<!-- 
HOW TO SECTION
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
-->

<div class="about-us" id="about-us">

    <h3>About Us</h3>

    <div>
        <ul>
            <li>
                <div>
                    <img src="./../../assets/images/about-leo.png" alt="Léo's picture">
                    <h4>Léo Punsola</h4>
                </div>

                <div>
                    <h5>Before Ironhack</h5>
                    <p>
                        I grew up in both the United States and France and went on to study business administration in two of France’s greatest business establishments. 
                        Starting 2012, I worked as a business strategy and transformation project manager in the investment banking industry. There,  I specialized in Lean methodologies and coaching. Organisational dynamics and team management are no longer a secret for me!
                        At the end of 2015 I took a sharp turn and decided to challenge myself elsewhere, working as project control officer in the retail banking industry in the Fiji Islands. I learned about a wonderful culture, and upgraded my management skill set some more.
                        This past year, as an expatriate in Mauritius, I started learning computer science and web development on my own. I also started a project in health & nutrition. I really enjoyed the intellectual stimulation and challenges inherent to programming. I chose IRONHACK to make a change and start an exciting career in web development. 
                    </p>

                    <h5>Desired Role</h5>
                    <p>
                        I am looking for a full stack web developer position both in France and abroad. Whether it be for the innovation branch/lab of a company or a startup I believe I will be a good culture fit. 
                        I really wish to take the time to master the skills that make a developper and am determined to succeed in this goal. I am therefore looking for a company with which I can build a trusting relationship, based on open mindedness, personal and professional development.
                    </p>
                    
                    <h5>Competencies</h5>
                    <p>
                        Due to my past experiences, I have acquired a business, strategic and organisational vision, which, paired with the technical skills I am currently learning, will make me a strong candidate for your company. I believe that I can also bring an added value to your company by both developing and carrying out your vision, inside and outside of your company. At the end of the day, your job is really what you make of it, and I know I won’t settle for average.
                    </p>

                    <h5>What industry are you interested in?</h5>
                    <p>
                        I am open to all types of industries as long as I find the project interesting and challenging. Preference for the health & wellbeing or education  industry 
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./../../assets/images/about-rodrigo.png" alt="Rodrigo's picture">
                    <h4>Rodrigo Ley</h4>
                </div>

                <div>
                    <h5>Before Ironhack</h5>
                    <p>
                        I have a Bachelor's Degree in Civil Engineering and I spent 2.5 years working as a Civil Engineer in a US governmental transportation agency. 
                        I spent several months before starting Ironhack self-studying coding and various CS topics while managing a restaurant part-time.                    
                    </p>

                    <h5>Desired Role</h5>
                    <p>
                        I have a great love for new experiences and and learning opportunities both professionally and culturally. My ideal role would include a mix of working in a team and individually along with a chance for self-initiative and also steady guidance. With that in mind, I hope for a Web Developer position in France or abroad where I can learn and but also leave my own impact.
                    </p>
                    
                    <h5>Competencies</h5>
                    <p>
                        I have a strong science, math and learner’s background. As a professional I have experience in providing customer service, quality control, testing, following specifications, working alone and in a team. 
                        In Computer Science, I have learned about algorithm design, computer networking and computer hardware to bolster what I learn at Ironhack. Additionally, I am a native Spanish and English speaker.                    
                    </p>

                    <h5>What industry are you interested in?</h5>
                    <p>
                        I have a strong interest in environmental protection, privacy protection,civic activism, and open source software.One of my career goals is to work for an organization, be it an NGO, charity or business that contributes to any of these fields.
                        To start my web dev career though I have much to contribute to any organization or business as a learner and applying what I learn.                    
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="./../../assets/images/about-lucas.png" alt="Lucas' picture">
                    <h4>Lucas Montenoise</h4>
                </div>

                <div>
                    <h5>Before Ironhack</h5>
                    <p>
                        After obtaining my masters degree in Marketing and Brand Strategy, I worked for 3 years in a big advertising company as a Web Project Manager. There, as lead on my brands (i.e. Société Générale, Audemars Piguet, Club Med), I was in charge of client and provider relationships, team management, schedules, budgeting and deadlines. I also had the chance to do some UX architecture thinking and prototyping, fields in which I have a strong interest.
                        I have always been fascinated by new technologies and in particular by improvements in the web. After 3 years of helping others build great things, I decided it was my turn, rolled up my sleeves and applied to this bootcamp!                    
                    </p>

                    <h5>Desired Role</h5>
                    <p>
                        I am looking for a Full-Stack Web Developer position, and I am open to opportunities abroad.
                        I loved learning both front and back-end techniques and hope my new position will allow me to continue practicing and improving both skill-sets.
                        Also, I strongly believe an open and benevolent working environment is key to both professional successes and to a healthy personal development. Thus, I pay more attention to the company culture than to its size or financial success.                    
                    </p>
                    
                    <h5>Competencies</h5>
                    <p>
                        I’m a driven, hard worker when passionate about a subject, and it so happens that I love coding and learning new coding skills (I enjoy learning in general)! Having worked on teams during my studies and early career, I’m flexible and adaptable to different working environments.
                    </p>

                    <h5>What industry are you interested in?</h5>
                    <p>
                        I don’t have “no-go” industries,  as long as the project is engaging, meaningful, and the team environment is welcoming. That being said, I am drawn to Renewable Energies, Sustainability, Environmental Protection and Privacy Protection (and also Video Games!).
                    </p>
                </div>
            </li>
        </ul>
    </div>

</div>



<!-- 
SIDE NAVIGATION BAR
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
-->

<mz-sidenav [edge]="'left'" [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'" [draggable]="'true'" [width]="180">
    <mz-sidenav-header>
        <div></div>
    </mz-sidenav-header>
    <mz-sidenav-link>
        <a href="#" class="waves-effect">Home</a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
        <a href="#home-about" class="waves-effect">About Dev-Day</a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
        <a href="#" class="waves-effect">How it works</a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
        <a href="#" class="waves-effect">About the team</a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
        <a href="#" class="waves-effect">Contact Us</a>
    </mz-sidenav-link>
</mz-sidenav>